
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Add a New Fridge Sitter</title>

    <!-- Bootstrap core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FridgeSitter</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
				  {% if user %}
					<li><a href={{ logoutURL }}>Logout</a></li>
				  {% else %}
				    <li><a href={{ loginURL }}>Login</a></li>
				  {% endif %}
				  
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
			{% if get %}
				<form action="/addDevice" method="post">
					<p class="lead">Give your device a name:</p>
					<div><textarea class="text-primary" name="name" rows="1" cols="40" placeholder="Wine Cellar"></textarea></div>
					<p class="lead">Set limits on the safe temperature range for your refrigerator:</p>
					<div>
						<textarea class="text-primary" name="fridgeMin" rows="1" cols="20" placeholder="I'm chilly!"></textarea>
						<textarea class="text-primary" name="fridgeMax" rows="1" cols="20" placeholder="It's like a sauna in here!"></textarea>
					</div>
					<p class="lead">Set limits on the acceptable ambient temperature range:</p>
					<div>
						<textarea class="text-primary" name="ambientMin" rows="1" cols="20" placeholder="Where's my snuggie!"></textarea>
						<textarea class="text-primary" name="ambientMax" rows="1" cols="20" placeholder="Pool party?"></textarea>
					</div>
					<p class="lead">How often should your fridge check in with us?</p>
					<div>
						<textarea class="text-primary" name="checkInInt" rows="1" cols="20" placeholder="12 minutes"></textarea>
					</div>
					<p class="lead">Temperature Probe Configuration:</p>
					<div>
						<textarea class="text-primary" name="tempSets" rows="1" cols="20">01</textarea>
					</div>
					<div><p></p><input class="btn btn-lg btn-success" type="submit" value="Add New Device"></div>
				</form>
			{% else %}
				<h1 class="cover-heading">
					Success!
				</h1>
				<p class="lead">Congratulations on adding a new FridgeSitter device. Its ID string is:</p>
				<p class="text-primary">{{ activeFridgeSitter.key.urlsafe() }}</p>
			{% endif %}
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2014 FridgeSitter</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
