
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>Welcome to Fridge Sitter</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/cover2.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
  <script type="text/javascript">
  google.load('visualization', '1', {packages: ['corechart', 'gauge']});
    google.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', 'Fridge');
	  data.addRows({{activeFridgeSitter.dataForPlot()}});

      var options = {
		curveType: 'function',
        width: 600,
        height: 330,
		lineWidth: 4,
		title: 'Recent Temperature Data from {{activeFridgeSitter.name}}',
		titleTextStyle: {color: 'white'},
        hAxis: {
          title: 'Time',
		  titleTextStyle: {color:'white'},
		  textStyle: {color:'white'}
        },
        vAxis: {
          title: 'Temperature (Deg F)',
		  titleTextStyle: {color:'white'},
		  textStyle: {color:'white'}
        },
		backgroundColor: '#333',
		chartArea:{backgroundColor: 'white'},
		legend: {
			textStyle:{color:'white'}
		}
      };

      var chart = new google.visualization.LineChart(
        document.getElementById('activeFridgeSitterPlot'));

      chart.draw(data, options);

    }
	
	google.setOnLoadCallback(drawGauge);

  var fridgeGaugeOptions = {min: 0.9*{{activeFridgeSitter.fridgeMin|float}}, max: {{activeFridgeSitter.fridgeMax|float}} + 0.1*{{activeFridgeSitter.fridgeMin|float}}, yellowFrom: 0.9*{{activeFridgeSitter.fridgeMin|float}}, yellowTo: {{activeFridgeSitter.fridgeMin|float}}, redFrom: {{activeFridgeSitter.fridgeMax|float}}, redTo: {{activeFridgeSitter.fridgeMax|float}} + 0.1*{{activeFridgeSitter.fridgeMin|float}}, minorTicks: 5};
  var fridgeGauge;
  
  var ambientGaugeOptions = {min: 0.9*{{activeFridgeSitter.ambientMin|float}}, max: {{activeFridgeSitter.ambientMax|float}} + 0.1*{{activeFridgeSitter.ambientMin|float}}, yellowFrom: 0.9*{{activeFridgeSitter.ambientMin|float}}, yellowTo: {{activeFridgeSitter.ambientMin|float}}, redFrom: {{activeFridgeSitter.ambientMax|float}}, redTo: {{activeFridgeSitter.ambientMax|float}} + 0.1*{{activeFridgeSitter.ambientMin|float}}, minorTicks: 5};
  var ambientGauge;

  function drawGauge() {
    fridgeGaugeData = new google.visualization.DataTable();
    fridgeGaugeData.addColumn('number', 'Deg F');

    fridgeGaugeData.addRows(1);
    fridgeGaugeData.setCell(0, 0, {{'%0.1f' % activeFridgeSitter.fridgeAvg}});


    fridgeGauge = new google.visualization.Gauge(document.getElementById('fridge_gauge_div'));
    fridgeGauge.draw(fridgeGaugeData, fridgeGaugeOptions);
	
	ambientGaugeData = new google.visualization.DataTable();
    ambientGaugeData.addColumn('number', 'Deg F');

    ambientGaugeData.addRows(1);
    ambientGaugeData.setCell(0, 0, {{'%0.1f' % activeFridgeSitter.ambientAvg}});


    ambientGauge = new google.visualization.Gauge(document.getElementById('ambient_gauge_div'));
    ambientGauge.draw(ambientGaugeData, ambientGaugeOptions);
  }
  </script>
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">FridgeSitter</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
				  <li><a href={{ logoutURL }}>Logout</a></li>
                </ul>
              </nav>
            </div>
          </div>
			<div class="inner cover">
				<h1 class="cover-heading">
				Overview of {{ activeFridgeSitter.name }}
				</h1>
				<div class="row">
					<div class="col-xs-6">
						<div id="fridge_gauge_div" style="width: 60%; margin: 0 auto;"></div>
						<h2><span {% if activeFridgeSitter.fridgeStatus %}class="label label-success"{% else %} class="label label-danger"{% endif %}>Fridge</span></h2>
					</div>
					<div class="col-xs-6">
						<div id="ambient_gauge_div" style="width: 60%; margin: 0 auto;"></div>
						<h2><span {% if activeFridgeSitter.ambientStatus %}class="label label-success"{% else %} class="label label-danger"{% endif %}>Ambient</span></h2>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div id="activeFridgeSitterPlot" style="width: 90%; margin: 0 auto;"></div>
					</div>
				</div>
				
			</div>


          <div class="mastfoot">
            <div class="inner">
              <p>Copyright 2014 FridgeSitter</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../assets/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
